<fieldset>
  <legend>tags</legend>
  <div class="margin-left-5pt">
    <label>#1 <select name="announce[tag_1]">
      <option id="-1">none</option>
      <% for tag in @tags %>
          <option id="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
    </label>
    <label>#2 <select name="announce[tag_2]">
      <option id="-1">none</option>

      <% for tag in @tags %>
          <option id="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
    </label>
    <label>#3 <select name="announce[tag_3]">
      <option id="-1">none</option>
      <% for tag in @tags %>
          <option id="<%= tag.id %>"><%= tag.name %></option>
      <% end %>
    </select>
    </label></div>
  <br>
</fieldset>