<a class="pull-left" href="/edit/<%= @item.id %>">Edit</a>
<br>
<h2><%= @item.title %></h2>
<img class="image-gold-size" src="<%= @image_name %>">

<h4><%= @item.action_date %></h4>
<h4><%= @item.desc %></h4>