

<script type="text/javascript" src="/javascripts/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript" src="/javascripts/bootstrap-datepicker.js"></script>

<link type="text/css" href="/stylesheets/datepicker.css">
<link type="text/css" href="/less/datepicker.less">
<link type="text/css" href="/stylesheets/bootstrap-datetimepicker.min.css">
<%= render 'admin/map_js' %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker1').datetimepicker({
            language: 'pt-BR'
        });
    });
</script>

<div class="content-part" id="announce-part">
  <div class="new-item-description">
    <%= form_tag(c_add_path, method: 'post', enctype: 'multipart/form-data', style: 'text-align: left;') do %>
        <input type="submit"
               class="btn-success height-middle wight-middle pull-right action-publish unavailable red-placeholder"
               id="btn-publish" value="PUBLISH">
        <input type="text" name="announce[title]" id="new-item-title" oninput="tracker(this)"
               placeholder="Title(customers will see this first)">

        <div id="datetimepicker1" class="input-append date inline-block">
          <input required="true" class="inline-block" contenteditable="false" data-format="dd/MM/yyyy hh:mm" type="text" name="announce[date]" placeholder="Date and time"/>
        <span class="add-on">
      <i data-time-icon="icon-time" data-date-icon="icon-calendar">
      </i>
    </span>
        </div>
        <br>

        <textarea name="announce[desc]" class="sub-desc margin-left-5pt" placeholder="Small header description"></textarea><br>

        <div class="">
          <div class="inline-block">
            <input type="text" placeholder="longitude" id="announce[longitude]" name="announce[longitude]" class="margin-left-5pt" value="<%= @longitude %>"><br>
            <input type="text" placeholder="latitude" id="announce[latitude]" name="announce[latitude]" class="margin-left-5pt" value="<%= @latitude %>">
            <br>
          </div>
          <div class="bordered inline-block" id="map-canvas"
               style="width: 100%;height: 300pt; ;padding:0;margin-top: 5pt;float: left; margin-left: 5pt;">
          </div>

        </div>
        <br>
        <%= render 'admin/tag_common' %>
        <%= render 'admin/categories' %>
        <input class="margin-left-5pt" name="announce[image]" type="file" title="Image"/>

        <div id="desc-bot-border"></div>
        </div>
    <% end %>

    </div>