<div class="content-part" id="announce-part">
  <div class="black" style="margin-bottom: 10pt;">New</div>


  <div class="new-item-description">
    <%= form_tag(c_add_path, method: 'post', enctype: 'multipart/form-data', style: 'text-align: left;') do %>
        <input type="submit"
               class="btn-success height-middle wight-middle pull-right action-publish unavailable red-placeholder"
               id="btn-publish" value="PUBLISH">
        <input type="text" name="announce[title]" id="new-item-title" oninput="tracker(this)"
               placeholder="Title(customers will see this first)">
        <input type="text" name="announce[date]" class="datepicker hasDatepicker" title="Starting"
               placeholder="Date ( 26/01/2013 )">
        <br>

        <textarea name="announce[desc]" class="sub-desc margin-left-5pt" placeholder="Small header description"></textarea><br>

        <div>
          <div class="inline-block">
            <input type="text" placeholder="longitude" name="announce[longitude]" class="margin-left-5pt" value="<%= @longitude %>"><br>
            <input type="text" placeholder="latitude" name="announce[latitude]" class="margin-left-5pt" value="<%=  @latitude %>">
            <br></div>
            <div class="inline-block">Map here</div>

            </div>
            <br>

            <div class="margin-left-5pt">
              <label>#1 <select name="announce[tag_1]">
                <option id="-1">none</option>
                <% for tag in @tags %>
                    <option id="<%= tag.id %>"><%= tag.name %></option>
                <% end %>
              </select>
              </label>
              <label>#2 <select name="announce[tag_2]">
                <option id="-1">none</option>

                <% for tag in @tags %>
                    <option id="<%= tag.id %>"><%= tag.name %></option>
                <% end %>
              </select>
              </label>
              <label>#3 <select name="announce[tag_3]">
                <option id="-1">none</option>
                <% for tag in @tags %>
                    <option id="<%= tag.id %>"><%= tag.name %></option>
                <% end %>
              </select>
              </label></div>
            <br>
            <input class="margin-left-5pt" name="announce[image]" type="file" title="Image"/>

            <div id="desc-bot-border"></div>


            <% end %>
            </div>

            </div>