<div class="content-part" id="statistic-part" style="text-align: left;">
  <div class="black"></div>

  <table class="table-bordered black" id="st_id" role="columnheader"
         style="width: 100%; background: #ffffff; text-align: center">
    <thead>
    <tr role="row">
      <td class="sort_available">#</td>
      <td class="sort_available">Title</td>
      <td class="sort_available">Creation date</td>
      <td class="sort_available">Target day</td>
      <td class="sort_available">Views count</td>
    </tr>
    </thead>
    <% unless @items.nil?
         iter = 0
         for item in @items
           iter=iter+1
    %>

            <tr>
              <td><%= iter %></td>
              <td><%= item.title %></td>
              <td><%= item.created_at %></td>
              <td><%= item.action_date %></td>
              <td><%= %></td>
            </tr>

        <% end
           end
        %>
  </table>

</div>