<div id="announce-month-current">
<%= calendar filter.options do |option| %>
    <% if option.active %>
        <div class="active">
          <%= link_to 'x', option.cancel_url %>
        </div>
    <% else %>
        <div>
          <%= link_to option.apply_url do %><%= t('filter.announce.date_matched', :count => option.total) %><% end %>
        </div>
    <% end %>
<% end %>
</div>

<div id="announce-month-next">
  <%= calendar filter.options, :month => Time.now.months_since(1).month do |option| %>
      <% if option.active %>
          <div class="active">
            <%= link_to 'x', option.cancel_url %>
          </div>
      <% else %>
          <div>
            <%= link_to option.apply_url do %><%= t('filter.announce.date_matched', :count => option.total) %><% end %>
          </div>
      <% end %>
  <% end %>
</div>

<div id="announce-month-afternext">
  <%= calendar filter.options, :month => Time.now.months_since(2).month do |option| %>
      <% if option.active %>
          <div class="active">
            <%= link_to 'x', option.cancel_url %>
          </div>
      <% else %>
          <div>
            <%= link_to option.apply_url do %><%= t('filter.announce.date_matched', :count => option.total) %><% end %>
          </div>
      <% end %>
  <% end %>
</div>