<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <form class="navbar-search pull-left padding-left-middle">
      <input type="text" class="search-query" placeholder="Search">
    </form>
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <li><a class="nav-link" href="<%= home_path %>">Feed</a></li>
          <li><a class="nav-link" href="<%= tags_path %>">Tags</a></li>


        </ul>

      </div>     <ul class="nav  pull-right">
      <% unless session[:role].nil? || session[:role]=='guest' %>

            <% if session[:role]=='core_admin' %>
                <li><a class="nav-link" href="<%= manage_path %>"><b>core</b></a></li>
            <% end %>

            <% if session[:role]=='admin'|| session[:role]== 'core_admin' %>
                <li><a class="nav-link" href="/admin"><b>Admin</b></a></li>
            <% end %>
            <li><a class="nav-link" href="<%= logout_path %>" role="link">logout</a></li>

      <% else %>
          <li><a class="nav-link pull-right" href="#login" role="button" data-toggle="modal">login</a></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<!--Modal frame for login-->
<div id="login" class="modal hide fade wight-300">
  <button type="button" class="close" style="padding-right: 5pt;padding-top: 5pt" data-dismiss="modal"
          aria-hidden="true">X
  </button>
 <%= render 'shared/login_form' %>
</div>
