<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <form class="navbar-search pull-left padding-left-middle">
      <input type="text" class="search-query" placeholder="Search">
    </form>
    <div class="container">
      <div class="nav-collapse">
        <ul class="nav">
          <li><a class="nav-link" href="<%= home_path %>">Feed</a></li>
          <li><a class="nav-link" href="<%= tags_path %>">Tags</a></li>


        </ul>

      </div>     <ul class="nav  pull-right">
      <% unless session[:role].nil? || session[:role]=='guest' %>

            <% if session[:role]=='core_admin' %>
                <li><a class="nav-link" href="<%= manage_path %>"><b>core</b></a></li>
            <% end %>

            <% if session[:role]=='admin'|| session[:role]== 'core_admin' %>
                <li><a class="nav-link" href="/admin"><b>Admin</b></a></li>
            <% end %>
            <li><a class="nav-link" href="<%= logout_path %>" role="link">logout</a></li>

      <% else %>
          <li><a class="nav-link pull-right" href="#login" role="button" data-toggle="modal">login</a></li>
      <% end %>
      </ul>
    </div>
  </div>
</div>
<!--Modal frame for login-->
<div id="login" class="modal hide fade wight-300">
  <button type="button" class="close" style="padding-right: 5pt;padding-top: 5pt" data-dismiss="modal"
          aria-hidden="true">X
  </button>
 <%= render 'shared/login_form' %>

  <div class="modal-header">
    <h2>Login</h2>
  </div>
  <div class="modal-body wight-250">
    <div>
      <%= form_tag(login_path, class: "form-inline validate") do %>
          <!--<form class="form-inline" method="post" action="login">-->

          <div class="control-group">
            <div class="controls">
              <input name="login" class="wight-100 margin-bot-middle validate__required" type="text" placeholder="login(email)">
            </div>
          </div>

          <div class="control-group">
            <input name="password" class="wight-100 margin-bot-middle validate__required" type="password" placeholder="password">
          </div>

          <input type="submit" value="Log In" class="btn-link"> or <a href="<%= registration_path %>"
                                                                      class="btn-link">register</a>
          <!--</form>-->
      <% end %>
    </div>
  </div>
</div>
