<div class="announces-list text-align: left;">
  <div class="announces-list-element">
    <div class="list-element-text inline-block" title="<%= item.title%>"><a href="/info/<%= item.id %>"><%= item.title_resize 32 %></div>

    <div class="pull-right control-block-size inline-block">
      <a href="trash/<%= item.id %>"><img class="selectable-image" src="images/delete-64.png"
                                          alt="Editing" title="Disable it and move to trash folder"></a>
    </div>
    <div class="pull-right control-block-size inline-block">
      <a href="edit/<%= item.id %>"><img class="selectable-image" src="images/edit_property-64.png"
                                         alt="Editing" title="Change this announce"></a>
    </div>
    <div class="pull-right date ">30/06/2013 - 19:00</div>


  </div>
</div>