<input type="search" placeholder="search">
<link type="text/css" href="/css/superuser-styles.css" media="all" rel="stylesheet">
<% unless @active_news.nil? %>
    <h3>Active </h3>
<% end %>
<a href="<%= manage_news_new_path %>">
  <div class="btn-info pull-left wight-100p add-button crackable">Add</div>
</a><br>
<div class="tag-listing-wrapper">
  <% unless @active_news.nil?
       for active in @active_news %>
          <div class="announces-list-element">
            <div class="list-element-text inline-block fixed-size-50pt" title="<%= active.title %>">
              <a href="/manage/news/<%= active.id %>/info"><%= active.title_resize 8 %></a></div>
            <div class="inline-block" style="width: 10pt"></div>
            <div class="pull-right control-block-size inline-block">
              <a href="/manage/news/<%= active.id %>/disable"><img class="selectable-image" src="/img/delete-64.png"
                                                                   alt="Disable" title="Disable it and move to trash folder"></a>
            </div>
            <div class="pull-right control-block-size inline-block">
              <a href="/manage/news/<%= active.id %>/edit"><img class="selectable-image" src="/img/edit_property-64.png"
                                                                alt="Editing" title="Change this announce"></a>
            </div>
            <div class="pull-right date ">30/06/2013 - 19:00</div>
            <div class="inline-block"><img class="tag-list-item-height" src="<%= active.image %>"></div>

          </div>

      <% end

         end %>
  <% unless @disabled_news.nil? %>
      <h3>Disabled</h3>
      <% for disabled in @disabled_news %>

          <div class="announces-list-element">
            <div class="list-element-text inline-block fixed-size-50pt" title="<%= disabled.title %>">
              <a href="/manage/news/<%= disabled.id %>/info"><%= disabled.title_resize 8 %></a></div>

            <div class="inline-block" style="width: 10pt"></div>
            <div class="pull-right control-block-size inline-block">
              <a href="/manage/news/<%= disabled.id %>/activate"><img class="selectable-image" src="/img/add-48.png"
                                                                      alt="Editing" title="Activate"></a>
            </div>
            <div class="pull-right control-block-size inline-block">
              <a href="/manage/news/<%= disabled.id %>/edit"><img class="selectable-image" src="/img/edit_property-64.png"
                                                                  alt="Editing" title="Change this announce"></a>
            </div>
            <div class="pull-right date ">30/06/2013 - 19:00</div>
            <div title="Delete forever" class="inline-block close height-middle padding-right-big">
              <a href="/manage/news/<%= disabled.id %>/delete">
                <img src="/img/delete_forever.png"
                     style="width: 30pt;height: 30pt;"></a>
            </div>
            <div class="inline-block"><img class="tag-list-item-height" src="<%= disabled.image %>"></div>

          </div>

      <% end %>
  <% end %>


</div>