<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
<script type="text/javascript">
    $(document).ready(function () {
        var mapOptions = {
            zoom: 14,
            center: new google.maps.LatLng(<%= @e_latitude.to_f %>, <%= @e_longitude.to_f %>),
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        map = new google.maps.Map(document.getElementById('map-canvas'),
                mapOptions);
        var home_img = '/images/anchor-m.png';

        var pin_img = new google.maps.MarkerImage("/images/pin-32.png");
        pin_img.anchor = new google.maps.Point(0, 32)
        var event_marker = new google.maps.Marker({
            position: new google.maps.LatLng(<%= @edit_item.lt %>, <%=@edit_item.lg%>),
            draggable: true,
            icon: pin_img,
            title: "Event location",
            animation: google.maps.Animation.DROP,
            map: map
        });


        var home = new google.maps.Marker({
            position: new google.maps.LatLng(<%= @e_latitude.to_f %>, <%= @e_longitude.to_f %>),
            draggable: false,
            title: "Your position (restored from IP)",
            icon: home_img,
            animation: google.maps.Animation.DROP,
            map: map
        });


        google.maps.event.addListener(event_marker, 'dragend', function (evt) {
            document.getElementById('announce[longitude]').setAttribute("value", evt.latLng.lng());
            document.getElementById('announce[latitude]').setAttribute("value", evt.latLng.lat());
        });
    });

</script>
<%= form_tag('/manage/news/'+@edit_item.id.to_s+'/update', method: 'post', enctype: 'multipart/form-data', style: 'text-align: left;') do %>

    <input type="text" name="news[title]" placeholder="Title" value="<%= @edit_item.title %>"> <br>
    <textarea name="news[short_description]" placeholder="First page description here" class="wight-95"><%= @edit_item.short_info %></textarea>
    <br>
    <textarea name="news[full_description]" placeholder="All description here" class="wight-95"><%= @edit_item.content %></textarea>
    <br>
    <img src="<%= @edit_item.image %>" class="image-gold-size">
    <input type="file" name="news[image]" title="100*100 preferred"> <br>
    <hr>
    <label class="margin-left-10pt">
      <input name="news[use_my_position]" type="checkbox" title="appear to my current location">Use current position
    </label>
    <div class="margin-left-5pt">
      <div class="inline-block gone ">
        <input type="hidden" placeholder="longitude" id="announce[longitude]" name="news[longitude]" class="margin-left-5pt" value="<%= @longitude %>">
        <input type="hidden" placeholder="latitude" id="announce[latitude]" name="news[latitude]" class="margin-left-5pt" value="<%= @latitude %>">
        <br>
      </div>
      <div class="bordered inline-block" id="map-canvas"
           style="width: 100%;height: 300pt; ;padding:0;margin-top: 5pt;float: left; margin-left: 5pt;">
      </div>

    </div>
    <br>

    <%= render 'admin/tag_common' %>
    <%= render 'admin/categories'  %>
    <input type="submit" value="Update">
<% end %>