<div class="filter-block">
  <li class="nav-header"><%= filter.label %></li>
  <li class="divider"></li>
  <% filter.options.each do |option| %>
      <% if option.active %>
          <li class="active">
            <a href="<%= option.cancel_url %>"><%= option.label %>
              <span class="pull-right">(X)</span>
            </a>
          </li>
      <% else %>
          <li>
            <a href="<%= option.apply_url %>"><%= option.label %>
              <span class="pull-right">(<%= option.total %>)</span>
            </a>
          </li>
      <% end %>
  <% end %>


</div>