<div class="register-block">

  <img src="images/web_services.png" class="image-registration">

  <%= form_tag(register_path, :class => 'validate') do %>

      <div class="control-group">
        <input class="wight-100 validate__required" type="text" placeholder="first name" name="register[first]" data-required-message="<%= t(:validation_firstname_empty) %>">
      </div>

      <div class="control-group">
        <input class="wight-100 validate__required" type="text" placeholder="last name" name="register[last]" data-required-message="<%= t(:validation_secondname_empty) %>">
      </div>

      <div class="control-group">
        <input type="text" class="wight-100 validate__required validate__user__login" required="true" placeholder="login" name="register[login]" data-required-message="<%= t(:validation_login_empty) %>" data-user-login-message="<%= t(:validation_user_login) %>">
      </div>

      <div class="control-group">
        <input class="wight-100 validate__required validate__email validate__user__email" type="email" placeholder="e-mail" name="register[e_mail]" data-required-message="<%= t(:validation_email_empty) %>" data-email-message="<%= t(:validation_email_format) %>">
      </div>

      <div class="control-group">
        <input class="wight-100 validate__required" type="password" placeholder="password (required)" required name="register[password]" data-required-message="<%= t(:validation_password_empty) %>">
      </div>

      <div class="control-group">
        <div class="pull-left">
          <label>I Accept <a href="termls.ogf.use.html">terms of use</a>
            <input type="checkbox" required name="is_accepted" title="You should accept this rules" data-required-message="<%= t(:validation_termsofuse) %>">
          </label>
        </div>
      </div>

      <div class="control-group">
        <input type="submit" value="register" class="btn btn-primary">
      </div>

  <% end %>
</div>