<div class="item-wrapper">
  <div class="header">
    <a href="<%= announce_view_path :rewrite => item.rewrite, :id => item.id %>" class="white-link-style" target="_blank"><%= item.title_feed %></a>
  </div>
  <img class="image-gold-size-with_minus_margin" src="<%= item.image_url :thumb %>">

  <div class="bot-header-tag-panel">
    <% item.tags.each do |tag| %>
        <% if tag %>
            <i><a href="<%= tag_view_path :rewrite => tag %>" class="style-tag"><%= tag %></a></i>
        <% end %>
    <% end %>

  </div>
</div>