<div class="page-root">
  <div class="inline-block wight-70pc">
    <div class="breadcrumb-new"><a href="/">Most popular</a>> <a href="<%= random_path %>">random</a></div>
    <div id="announce-list">
      <% for item in @random_list do %>
          <div class="item-wrapper">
            <div class="header">
              <a href="#go-to-item" class="white-link-style"><%= item.title_feed %></a>
            </div>
            <img class="image-gold-size-with_minus_margin" src="<%= item.image %>">

            <div class="bot-header-tag-panel">
              <div class="bot-header-tag-panel">

                <% item.tags.each do |tag| %>
                    <i><a href="/tag/<%= tag.rewrite %>.html" class="style-tag"><%= t(tag.rewrite) %></a></i>
                 <% end %>
              </div>
            </div>
          </div>
      <% end %>

    </div>

    <div class="inline">

    </div>
  </div>


  <%= render 'root/news' %>
</div>