<div class="inline-block">
  <ul class="nav nav-list">

    <div class="span2">
      <li>
        <%= link_to t('filter.clear'), announce_search_path %>
      </li>
      <hr>
      <% @filters.each do |filter| %>
          <%= filter_widget filter %>
      <% end %>
      <hr>
      <li>
        <%= link_to t('filter.clear'), announce_search_path %>
      </li>

    </div>
  </ul>

  <div><%= t('announce.search.total', :count => @announces.count) %></div>

    <%= render 'root/search_result_block', announces: @announces %>

  <%= will_paginate @announces, :renderer => Search::Announce::Paginate::LinkRenderer %>


</div>
<div class="search-page-news-list inline-block">
  <%= render 'root/search_news', news: @news %>
</div>