<!DOCTYPE html>
<html>
<head>
  <title>Untitled8</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "admin", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body style="text-align: center; width: 90%; margin: 7% auto 0;">
<%= render 'shared/header' %>
<div style="width: 100%; text-align: center; padding-top:2%">
  <h2 class="page-name"><%= params[:action] %> , Admin page</h2>
</div>
<div class="main-frame">
  <div class="navigation-part">
    <div class="nav-button height-middle
      <% if params[:action]=='p_add' %> selected
      <% end %>" data-defpart="announce-part" style="width: 100%">
      <a href="<%= add_path %>">
        <div>Add announce</div>
      </a>
    </div>
    <div class="nav-button height-middle
      <% if params[:action]=='p_my_announces' %> selected
      <% end %>" data-defpart="my-announces-part" style="width: 100%">
      <a href="<%= announce_path %>">
        <div>My announces</div>
      </a>
    </div>
    <div class="nav-button height-middle
      <% if params[:action]=='p_text_stats' %> selected
      <% end %>" data-defpart="statistic-part" style="width: 100%">
      <a href="<%= stats_path %>">
        <div>Text statistic</div>
      </a>
    </div>
    <div class="nav-button height-middle
      <% if params[:action]=='p_map_stats' %> selected
      <% end %>" data-defpart="map-part" style="width: 100%">
      <a href="<%= maps_path %>">
        <div>Map statistic</div>
      </a>
    </div>
    <div class="nav-button height-middle
      <% if params[:action]=='p_calendar' %> selected
      <% end %>" data-defpart="calendar-part" style="width: 100%">
      <a href="<%= calendar_path %>">
        <div>My calendar</div>
      </a>
    </div>
  </div>
  <div class="content-part" id="announce-part">
    <%= yield %>
    <pre>
    <%= params %>
  </pre>
  </div>
</div>
</body>
</html>
