<!DOCTYPE html>
<html>
<head>
  <title>
    <% if session[:country]!=nil && session[:init] %>
        <%= session[:country] %>
        <% if session[:city]!=nil && session[:city]!='' %>
            <%= ": #{session[:city]}" %>
        <% end %>
    <% else %>
        <%= "Places" %>
    <% end %>
  </title>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"></script>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= render 'shared/js/validation' %>
  <%= csrf_meta_tags %>
</head>
<body style="text-align: left">
<%= render 'shared/header' %>
<%= yield %>
<hr class="amazing-style">

<div id="test-map" style="width: 500px; height: 500px;" class="map"></div>

<%= render 'shared/footer' %>
</body>
</html>
