<!DOCTYPE html>
<html>
<head>
  <title>Admin page</title>
  <%= stylesheet_link_tag "metrov-by-talkslab/bootstrap", :media => "all" %>
  <%= stylesheet_link_tag "metrov-by-talkslab/bootstrap-fonts", :media => "all" %>
  <%= stylesheet_link_tag "admin-page-style", :media => "all" %>
  <%= stylesheet_link_tag "common", :media => "all" %>
  <%= javascript_include_tag "jquery", :media => "all" %>
  <%= javascript_include_tag "bootstrap", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body style="text-align: center; width: 90%; margin: 7% auto 0;">
<%= render 'shared/header' %>
<div style="width: 100%; text-align: center; padding-top:2%">
  <h2 class="page-name">Superuser</h2>
</div>
<div class="main-frame">
  <div class="navigation-part">
    <div class="nav-button height-middle
      <% if params[:action]=='p_add' %> selected
      <% end %>" data-defpart="announce-part" style="width: 100%">
      <a class="admin-link no-link-style" href="<%= manage_news_path %>">
        <div>News</div>
      </a>
    </div>
    <div class="nav-button height-middle
      <% if params[:action]=='p_my  _announces' %> selected
      <% end %>" data-defpart="my-announces-part" style="width: 100%">
      <a class="admin-link no-link-style" href="<%= manage_news_new_path %>">
        <div>Add news</div>
      </a>
    </div>
    <div class="nav-button height-middle
      <% if params[:action]=='p_my  _announces' %> selected
      <% end %>" data-defpart="my-announces-part" style="width: 100%">
      <a class="admin-link no-link-style" href="<%= manage_tags_path %>">
        <div>Tags</div>
      </a>
    </div>
    <div class="nav-button height-middle
      <% if params[:action]=='p_my  _announces' %> selected
      <% end %>" data-defpart="my-announces-part" style="width: 100%">
      <a class="admin-link no-link-style" href="<%= manage_tag_new_path %>">
        <div>New tag</div>
      </a>
    </div>
    <div class="nav-button height-middle
      <% if params[:action]=='p_calendar' %> selected
      <% end %>" data-defpart="calendar-part" style="width: 100%">
      <a class="admin-link no-link-style" href="<%= users_path %>">
        <div>Users</div>
      </a>
    </div>
    <div class="nav-button height-middle
      <% if params[:action]=='p_calendar' %> selected
      <% end %>" data-defpart="calendar-part" style="width: 100%">
      <a class="admin-link no-link-style" href="<%= admin_announce_search_panel_path %>">
        <div>Search</div>
      </a>
    </div>
  </div>
  <div class="content-part" id="announce-part">
    <%= yield %>
  </div>
</div>
</body>
</html>
